[submodule "consolas-powerline-vim"]
	path = consolas-powerline-vim
	url = https://github.com/eugeneching/consolas-powerline-vim.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle.git
